.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-logo {
  height: 10vmin;
  width: 50vmin;
  margin: 20vmin;
  background-image: url("https://www.caroffer.com/hs-fs/hubfs/CarOffer_Logo-RGB-Trans-FullColor_H-hires.png?width=2064&name=CarOffer_Logo-RGB-Trans-FullColor_H-hires.png");
  background-position: center;
  background-size: 50vmin;
  pointer-events: none;
  background-repeat: no-repeat;
}

.App-title {
  flex: 1;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-body {
  min-height: 100vh;
  min-width: 100vh;
}

.App-controls {
  text-align: center;
}

.App-controls input {
  width: 270px;
  margin: 24px;
  padding: 12px;
  background-color: #6b74f5;
  border: 2px solid black;
}

.App-controls select {
  margin: 24px;
  padding: 12px;
  background-color: #6b74f5;
  color: black;
  border: 2px solid black;
}
.lblSearch {
  font-weight: bold;
}
.App-table {
  margin: 24px auto;
  border-spacing: 0;
  width: 1100px;
}

.App-table thead th {
  border-bottom: 1px solid #777777;
  background-color: #6b74f5;
}

.App-table tbody tr:nth-child(2n) td {
  background-color: #b1b5f3;
}

.App-table th,
.App-table td {
  text-align: left;
  padding: 8px;
}
